################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLiteTempTable/.vs/SQLiteTempTable/v14
/SQLiteTempTable/bin/Debug
/SQLiteTempTable/obj/Debug
